@using JuniorDoctorsStrike.Web.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Junior Doctors Strike - Saving the NHS" />
    <title>Junior Doctors Strike - Saving the NHS</title>

    @{
        const int cssVersion = 2;

        if (AppConfig.IsDebugMode())
        {
            <link rel="stylesheet" type="text/css" href="~/Assets/site.css?v=@cssVersion">
        }
        else
        {
            <link rel="stylesheet" type="text/css" href="~/Assets/site.min.css?v=@cssVersion">
        }
    }

    @RenderSection("BeforeEndOfHead", required: false)

    @if (AppConfig.IsProduction)
    {
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '@AppConfig.GoogleAnalyticsTrackingCode', 'auto');
            ga('send', 'pageview');
        </script>
    }
</head>
<body>
    <header>
        <div id="inner-header">
            <img id="logo" src="~/Assets/junior-doctors-strike.png" alt="#JuniorDoctorsStrike - Saving the NHS" />
            <hgroup>
                <h1>#JuniorDoctorsStrike</h1>
                <h2>Doctors fighting to save the NHS</h2>
            </hgroup>
            <nav>
                <ul>
                    <li>@Html.ActionLink("Live Updates", "Index", "Home")</li>
                    <li>@Html.ActionLink("Doctor Stories", "Stories", "Home")</li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p id="inner-footer">
            Copyright &copy; @DateTime.Now.Year, <a href="http://dusted.codes/">Dustin Moris Gorski</a>
        </p>
    </footer>
</body>
</html>
